{% extends 'base.html' %}

{% block title %}
Заказ №{{object.id}}
{% endblock title %}

{% block content %}
<div id="order">
    <div class="order_status">
        {% for status in object.statuses %}
            <div class="order_status__item {% if status.active %}active{% endif %}">
                {{status.name}}
            </div>
        {% endfor %}
    </div>
    <div class="cart_items">
        {% for item in object.items.all %}
        <div class="cart_items-item">
            <div class="cart_items-item_image" 
            style="{% if item.product.image %}background-image: url({{item.product.image.url}});{% endif %}"></div>
            <div class="cart_items-item_info">
                <div class="cart_items-item_name">{{item.product.name}}</div>
                <div class="counter" style="pointer-events: none;">
                    <span class="counter__btn" style="opacity: .5;">-</span>
                    <span class="counter__count" id="count">{{item.count}}</span>
                    <span class="counter__btn" style="opacity: .5;">+</span>
                </div>
            </div>
            <div class="cart_items-item_price">
                <div class="price">
                    {{item.price}}
                    <div class="price__min">Р</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cart_sum">
        <div class="cart_sum-item big">
            <div class="left">Итог</div>
            <div class="right">{{object.amount}} Р</div>
        </div>
        {% if object.promocode %}
        <div class="cart_sum-item">
            <div class="left">Промокод</div>
            <div class="right">{{object.promocode.code}}</div>
        </div>
        {% endif %}
        <div class="cart_sum-item">
            <div class="left">Имя</div>
            <div class="right">{{object.name}}</div>
        </div>
        <div class="cart_sum-item">
            <div class="left">Номер</div>
            <div class="right">{{object.phone}}</div>
        </div>
    </div>
</div>
{% endblock %}