{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romashka | Ресторан</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header class="header">
        <div class="header__title">
            {% block title %}{% endblock title %}
        </div>
    </header>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
    <nav class="navbar">
        <a href="/" class="navbar-item {% if page == 'menu' %}active{% endif %}">
            <div class="navbar-item_icon">
                {% if page == 'menu' %}
                <span class="i i-home-active"></span>
                {% else %}
                <span class="i i-home"></span>
                {% endif %}
            </div>
            <div class="navbar-item_name">Меню</div>
        </a>
        <a href="/cart" class="navbar-item {% if page == 'cart' %}active{% endif %}">
            <div class="navbar-item_icon">
                {% if page == 'cart' %}
                <span class="i i-cart-active"></span>
                {% else %}
                <span class="i i-cart"></span>
                {% endif %}
            </div>
            <div class="navbar-item_name">
                Корзина
                <span id="cartCount">5</span>
            </div>
        </a>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>